@helper MakeAlert()
{
    foreach (var item in ModelState.Where(x => x.Key.StartsWith("alert-")))
    {
        foreach (var item1 in item.Value.Errors)
        {
            <div class="alert @item.Key">@item1</div>
        }
    }
}

@helper MakeBotao(List<Botao> botoes, string codigoAcao)
{
    if (botoes.Any(x => x.CodigoAcao == codigoAcao))
    {
        Botao btn = botoes.Find(x => x.CodigoAcao == codigoAcao);
        <button class="btn btn-secondary" type="button" onclick="executarAcao('@btn.CodigoAcao')">@btn.Caption</button>
    }
}

@helper BtnLimpar()
{
    <button class="btn btn-light mx-2" type="button" onclick="estadoInicial()">Limpar</button>
}

