USE [dbTreinamento]
GO
/****** Object:  StoredProcedure [dbo].[stp_Sys_Modulo_Upd]    Script Date: 24/08/2021 16:30:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[stp_Sys_Modulo_Upd]
@IdSistema INT = NULL,
@IdModulo INT = NULL,
@CodigoModulo VARCHAR(50) = NULL,
@DescricaoModulo VARCHAR(50) = NULL
AS
BEGIN
	BEGIN TRY
		DECLARE @MsgErro VARCHAR(255)

	IF NULLIF(@CodigoModulo, '') IS NULL
		BEGIN
			RAISERROR('INFORME O CÓDIGO DO MÓDULO', 16, 1)
		END

	IF NULLIF(@DescricaoModulo, '') IS NULL
		BEGIN
			RAISERROR('INFORME A DESCRIÇÃO DO MÓDULO', 16, 1)
		END

	IF EXISTS(
		SELECT S.codigoModulo, 
			S.descricaoModulo
		FROM Sys_Modulo S
		WHERE descricaoModulo = @DescricaoModulo AND codigoModulo = @CodigoModulo
	)
	BEGIN
		RAISERROR('AS DESCRIÇÕES FORNECIDAS JÁ EXISTEM', 16, 1)
	END

	UPDATE Sys_Modulo SET idSistema = @IdSistema, 
		codigoModulo = @CodigoModulo,
		descricaoModulo = @DescricaoModulo
	WHERE idModulo = @IdModulo

		RETURN 0

	END TRY
	BEGIN CATCH
		SET @MsgErro = ERROR_MESSAGE()
		RAISERROR(@MsgErro, 16, 1)
		RETURN 1
	END CATCH

END
