.menu .parent {
    display: inline-block;
    line-height: 30px;

}
    .menu .parent a {
        margin: 10px;
        color: #808080;
        text-decoration: none;
    }

    .menu .parent:hover > ul {
        display: block;
        position: absolute;
    }

.menu .child {
    display: none;
}

    .menu .child li {
        background-color: #000;
        line-height: 30px;
        border-bottom: #CCC 1px solid;
        border-right: #CCC 1px solid;
        width: 100%;
    }

        .menu .child li a {
            color: #fff;
        }

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    min-width: 10em;
}

    ul ul ul {
        left: 100%;
        top: 0;
        margin-left: 1px;
    }

.menu li:hover {
    background-color: #000;
}

.menu .parent li:hover {
    background-color: #000;
}

.menu .expand {
    font-size: 12px;
    float: right;
    margin-right: 5px;
}

.menu li {
    background-color: #000;
}