<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>treinamento</title>
    <meta charset="utf-8">
    <meta name="referrer" content="origin-when-crossorigin" id="meta_referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta property="og:site_name" content="treinamento">
    <meta property="og:url" content="https://www.treinamento.com">
    <meta property="og:image" content="https://www.treinamento.com/treinamento_icon_325x325.png">
    <meta property="og:locale" content="pt_BR">
    <link rel="search" type="application/opensearchdescription+xml" href="/osd.xml" title="treinamento">
    <link rel="canonical" href="https://www.treinamento.com/">
    <link rel="alternate" media="only screen and (max-width: 640px)" href="https://www.treinamento.com/">
    <link rel="alternate" media="handheld" href="https://www.treinamento.com/">
    <link rel="alternate" hreflang="x-default" href="https://www.treinamento.com/">
    <link rel="alternate" hreflang="pt" href="https://www.treinamento.com/">
    <meta name="description" content="Crie uma conta ou entre no treinamento.">
    <meta name="robots" content="noodp,noydir">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicontreinamento.jpeg">

    @RenderSection("meta", required: false)
    @RenderSection("head", required: false)
</head>

@RenderBody()

</html>