@{ 
    Page.Title = "Controle de Acesso";
    Layout = "~/ControleAcesso/_Layout.cshtml"; 
    
}

@functions{

    private class Operador
    {
        public string IdOperador { get; set; }
        public string Nome { get; set; }
    }

    string cpf = null;
    string senha = null;
    bool loginOk = false;
    Operador operador = null;


    private void AlimentaVariaveis()
    {
        cpf = Request.Form["cpf"];
        senha = Request.Form["senha"];
    }

    private void AbreSessao()
    {
        try
        {
            Dictionary<string, object> parametros = new Dictionary<string, object>();
            parametros.Add("@cpf", cpf);
            parametros.Add("@senha", senha);

            List<Operador> operadores = new Dao().ExecutarProcedureList<Operador>("stp_Sys_AbreSessao", parametros);

            if (operadores != null)
            {
                operador = operadores[0];
                Session["IdOperador"] = operador.IdOperador;

                loginOk = true;
            }
            else
            {
                ModelState.AddError("alert-danger", "Não autorizado");
            }
        }
        catch (Exception ex)
        {
            ModelState.AddError("alert-danger", ex.Message);
        }
    } 
    
}

@{ 
    AlimentaVariaveis();

    if (IsPost)
    {
        AbreSessao();
    } 
    
}

@section meta
{
    @if (loginOk)
    {
        <meta http-equiv="refresh" content="2;url=/" />
    }
}


<body>

    <div class="container">

        <div class="col">

            <div class="row">

                @PageHelper.MakeAlert()

                @if (loginOk)
                {
                    ModelState.AddError("alert-danger", "Login realizado com sucesso");
                    <h2>Seja bem vindo, @operador.Nome</h2>

                    <div class="modal" id="modal">
                        <div class="modal" tabindex="-1" data-toggle="modal" data-target="#modal" >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Modal body text goes here.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }
                else
                {
                    <form name="form1" method="post">

                        <div class="d-flex row d-flex justify-content-center mt-5">

                            <div class="border p-5 mt-5 w-50">

                                <div class="row mx-5">

                                    <div class="mb-3 text-center">
                                        <span class="text-secondary fw-bold text-center">Login</span>
                                    </div>

                                    <div class="mb-4 w-50">
                                        <input class="form-control" placeholder="CPF" name="cpf" />
                                    </div>

                                    <div class="w-50">
                                        <input class="form-control" placeholder="senha" type="password" name="senha" />
                                    </div>

                                    <div class="mt-3 row">
                                        <button class="btn btn-secondary mx-3">Logar</button>
                                    </div>
                                </div>


                            </div>

                        </div>


                    </form>
                }

            </div>

        </div>

    </div>

    <script>
        $(document).ready(function () {
            $('#modal').modal('show');
        })
    </script>

</body>