@{ Page.Title = "Sair";
   Layout = "~/ControleAcesso/_Layout.cshtml"; 
}

@functions{ 
    private void Sair()
    {
         if (!string.IsNullOrEmpty(Convert.ToString(Session["IdOperador"])))
         {
            Session["IdOperador"] = null;
         }
    } 
}

@{ 
  Sair(); 
}

@section meta
{
    <meta http-equiv="refresh" content="3;url=/" />
}

<body>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Log Treinamento</h5>
                </div>
                <div class="modal-body">
                    Até logo...
                </div>
            </div>
        </div>
    </div>

    <script>
        $(window).on('load', function () {
            $('#myModal').modal('show');
        });
    </script>
</body>