<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>@Page.Title</title>
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Style.css" rel="stylesheet">

    @RenderSection("head", required: false)
</head>

@RenderBody()

</html>