@{
    Page.Title = "Time";
    Layout = "~/AreaRestrita/_Layout.cshtml";
}

@functions{

    private class Menu
    {
        public string CodigoSistema { get; set; }
        public string DescricaoSistema { get; set; }
        public string CodigoModulo { get; set; }
        public string DescricaoModulo { get; set; }
        public string CodigoPagina { get; set; }
        public string DescricaoPagina { get; set; }
    }

    List<Menu> menus = null;

    string idOperador = null;

    private void AlimentaVariaveis()
    {
        idOperador = Convert.ToString(Session["idOperador"]);
    }

    private void Consulta()
    {
        try
        {
            Dictionary<string, object> parametros = new Dictionary<string, object>();
            parametros.Add("@IdOperador", idOperador);

            menus = new Dao().ExecutarProcedureList<Menu>("stp_Sys_MontaMenu", parametros);

        }
        catch (Exception ex)
        {

            ModelState.AddError("alert-danger", ex.Message);
        }
    }
}

@{ 
    AlimentaVariaveis();
    Consulta();
}

@section head {
    @RenderPage("~/Estilo/Bootstrap.cshtml")
}

<body class="d-flex flex-column h-100">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="~/AreaRestrita/Default.cshtml">Copa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                @if (menus != null)
                {
                    foreach (Menu menu in menus)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/AreaRestrita/@(menu.CodigoSistema)/@(menu.CodigoModulo)/@(menu.CodigoPagina).cshtml">@menu.DescricaoPagina</a>
                        </li>
                    }
                }
            </ul>
        </div>

        <a href="~/ControleAcesso/Sair.cshtml">Sair</a>
    </nav>
</body>
